<!DOCTYPE html>
<html>
  <head>
    <title>FTBinc</title>
    <meta name="google-site-verification" content="wcL06SRGgt4NOXAsYljWeOlSWyNd1nUo0Qn0D01-IEA" />
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
